.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  flex: 1;
}

.navbar {
  flex: 2;
  text-align: right;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 20px;
}

.menu-button {
  display: none; 
}

.menu-button-lines {
  width: 30px;
  height: 4px;
  background-color: #bf1a1a;
  margin-bottom: 5px; 
  transition: transform 0.4s;
}

.menu-button.open .menu-button-lines:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-button.open .menu-button-lines:nth-child(2) {
  opacity: 0;
}

.menu-button.open .menu-button-lines:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .navbar {
    text-align: center;
  }

  .nav-items {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    display: none;
  }

  .nav-items.open {
    display: flex;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.section-navbar{
  background-color: #e7eaee;
}

