.custom-shape-divider-bottom-1701139561 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-bottom-1701139561 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 60px;
  }
  
  .custom-shape-divider-bottom-1701139561 .shape-fill {
    fill: #0099ff; 
  }
  