
.table-container {
  width: 100%;
  overflow-x: hidden; 
}

.table-container th{
  padding: 8px 0;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  max-width: 100%; 
  table-layout: fixed; 
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 1px; 
  text-align: center;
  word-wrap: break-word; 
}

th {
  background-color: #2e9d7c;
  color: #ffffff;
  font-size: 18px; 
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #f1f1f1;
}

.accept-btn, .decline-btn {
  padding: 4px 8px; 
  margin: 0 3px; 
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.accept-btn:hover, .decline-btn:hover {
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
}

.accept-btn {
  color: #4CAF50;
}

.decline-btn {
  color: red;
}

tr {
  font-size: 14px; 
}

tr{
  color: #000;
}

/* .dasheader h1{
  color: #333;
} */

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  
}

.green-dot {
  background-color: rgb(3, 230, 3);
}

.red-dot {
  background-color: red;
}
