.manage_cont{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: #ffffff;
}

.dasheader {
    /* background-color: #007BFF; */
    color: white;
    padding: 10px;
    text-align: center;
    /* margin-bottom: 20px; */
}

.dasheader h1 {
    margin: 0;
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}

.manage_cont {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#master-key {
    padding: 10px;
    margin: 10px 0;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

/* button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
} */

/* button:hover {
    background-color: #0056b3;
} */

#content-container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityy{
    padding: 14px;
    font-weight: 400;
    font-size: 15px
    
}
/* .download{
    background-color: #28e932;
} */