.setting_cont{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #ffffff; */
    width: 300px;
    padding: 20px;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* #master-key {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2b9374;
    border-radius: 5px;
} */

/* button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #2b9374;
    color: white;
    cursor: pointer;
} */

/* button:hover {
    background-color: #0056b3;
} */

#content-container {
    text-align: center;
    
}

.buttons {
    margin-top: 20px;
    display: flex;
}

.buttons button {
    margin: 0 10px;
}

img{
    height: 300px;
}

.setting_cont {
    /* background-color: #fff;
    border: 1px solid #ccc; */
    border-radius: 5px;
    border: 1px solid white;
    background: white;
    
    width: 300px;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit{
    background-color: rgb(216, 199, 123);
}
.save{
    background-color: #f52828;
}
