.search{
    width: 50%;
    margin-left: 25%; 
}
.InstalledList{
    margin-top: 5px;
    border: 1px  dotted rgb(202, 59, 59);
}.installedInfo{
    border: 1px solid black;
    /* width: fit-content; */
    margin: 0.8%;
    padding: 5px;

    display: flex;
    background: rgb(156 163 175 / 36%);
    border: 1px solid #c7c7c7;
    border-radius: 6px;
}.manage-content{
    border: none;
    display: block;
    
}.manage-content h3{
    text-decoration: underline;
}.card{
    /* display:flex; */
    background: aliceblue;
    padding: 5px;
    /* border: 1px solid; */
    border-radius: 5px;
}
.roadimg{
    position: relative;
}
.info span{
    color: red;
    text-decoration: underline;
    font-size: small;
    font-weight: 800;
}.info{
    margin :5px 15px
}.live{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 3px;
    background: red;
    color: aliceblue;
    font-size: small;
    font-weight: bolder;
    border-radius: 5px;
}.search-bar{
    width: 100%;
    height: 28px;
    padding:0px 10px;
    border-radius: 5px;
    border: 1px solid #3cb23c;
}.search-bar:focus{
    background-color: #f0f5f0;
    color: black;
    border: 2px solid #64da64;
}