<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlowSync: Traffic Light Optimization</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      function redirectToNextPage() {
        // Redirect to the next page
        window.location.href = "next_page.html";
      }
    </script>
  </head>

  <body>
    <div class="intersection-satdobato bg-red-500 p-3">
      <!-- hidden -->
      <p>Satdobato</p>
      <div class="bg-green-500 p-6 flex h-64 place-content-center">
        <div class="bg-gray-500 p-6 mr-6 w-64 rounded-md">
          <p class="text-white">aEast</p>
          <div class="aEast_info relative">
            <div class='bg-green-600 h-8 w-8 border-2 rounded-full absolute top-0 right-0'></div>
            <p>Vehicles:<span> 25</span></p>
            <p>Cars:<span> 5</span></p>
            <p>MotorBike:<span> 20</span></p>
            <p>Bus:<span> 5</span></p>
            <p>Truck:<span> 3</span></p>
          </div>
        </div>
        <div class="bg-yellow-300 p-6 w-64 rounded-md">
          <p class="text-white">aWest</p>
          
          <div class="aWest_info relative">
            <div class='bg-red-600 h-8 w-8 border-2 rounded-full absolute top-0 right-0'></div>
            <p>Vehicles:<span> 25</span></p>
            <p>Cars:<span> 5</span></p>
            <p>MotorBike:<span> 20</span></p>
            <p>Bus:<span> 5</span></p>
            <p>Truck:<span> 3</span></p>
          </div>
        </div>
      </div>
      <div class="bg-green-500 p-6 flex h-64 place-content-center">
        <div class="bg-gray-500 p-6 mr-6 w-64 rounded-md">
          <p class="text-white">bEast</p>
          <div class="bEast_info relative">
            <div class='bg-green-600 h-8 w-8 border-2 rounded-full absolute top-0 right-0'></div>
            <p>Vehicles:<span> 25</span></p>
            <p>Cars:<span> 5</span></p>
            <p>MotorBike:<span> 20</span></p>
            <p>Bus:<span> 5</span></p>
            <p>Truck:<span> 3</span></p>
          </div>
        </div>
        <div class="bg-blue-500 p-6 w-64 rounded-md">
          <p class="text-white">bWest</p>
          <div class="bWest_info relative">
            <div class='bg-red-600 h-8 w-8 border-2 rounded-full absolute top-0 right-0'></div>
            <p>Vehicles:<span> 25</span></p>
            <p>Cars:<span> 5</span></p>
            <p>MotorBike:<span> 20</span></p>
            <p>Bus:<span> 5</span></p>
            <p>Truck:<span> 3</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
