.dashboard{
    display: flex;
    justify-content: center;
}
/* Leftbar */
.dashnav nav ul{
    /* padding:10%; */
    /* align-items: center; */
    background-color: rgb(230, 230, 230);
    
}
/* .dashnav nav ul {
    /* min-width:max-content; */

/* }  */
.dashnav nav ul a li{
    color: black;
    font-size: medium;
    padding: 6px 16px;

}
.dashnav nav ul a li:hover{
    color: #00684a;
    font-weight: 600;
    text-decoration-line: underline;
    background: #8fbc8f8c;
    
}
.dasnav .active,.active li,.active a,.icon .active{
    color: #00684a !important;
    font-weight: 600;
    text-decoration-line: underline;
    background: #8fbc8f8c;
}

.dashnav nav ul{
    height: 99vh;
    background: #ced1d5;
    box-shadow: 2px 5px 5px #919191;
    border-radius: 0px 0 5px 0px;
}.dashnav nav ul a{
    color: black;
    font-size: smaller;
    font-weight: 400;
}

/* userDash or right container */
.dashleft{
    width: 14%;
    min-width: 160px;

    /* overflow:scroll;  */
}
.dashright{
width:86%;
}
.left{
    position: sticky;
    top:0;
    height: 5rem;
}

.rightcontainer{
    margin:1%;
    /* border: 1px dotted red; */
    padding: 1%;


    background: #eaeaea;
    box-shadow: 2px 2px 5px #cccccc;
    border-radius: 5px;
    border: 1px solid #cdcccc78;
}.dashcontainer{
    margin-top: 1%;
    border:1px solid rgba(188, 188, 188, 0.833);
    /* display: flex; */
}
.dasheader h1{
    text-align: left;
}