.search{
    width: 50%;
    margin-left: 25%; 
}
.InstalledList{
    
    margin-top: 5px;
    border: 1px solid rgb(217 217 217);
    background: white;
    border-radius: 5px;
}.installedInfo{
    border: 1px solid black;
    /* width: fit-content; */
    margin: 0.8%;
    padding: 5px;

    display: flex;
    background: rgb(156 163 175 / 36%);
    border: 1px solid #c7c7c7;
    border-radius: 6px;
}.manage-content{
    border: none;
    display: block;
    
}.manage-content h3{
    text-decoration: underline;
}.card{
    /* display:flex; */
    background: aliceblue;
    padding: 5px;
    /* border: 1px solid; */
    border-radius: 5px;
}
.roadimg{
    position: relative;
}
.info span{
    color: red;
    text-decoration: underline;
    font-size: small;
    font-weight: 800;
}.info{
    margin :5px 15px
}.live{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 3px;
    background: red;
    color: aliceblue;
    font-size: small;
    font-weight: bolder;
    border-radius: 5px;
}.search-bar{
    width: 100%;
    height: 28px;
    padding:0px 10px;
    border-radius: 5px;
    border: 1px solid #3cb23c;
}.search-bar:focus{
    background-color: #f0f5f0;
    color: black;
    border: 2px solid #64da64;
}

.traffic-light {
    display: flex;
    flex-direction: row; /* Make it horizontal */
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px; /* Adjust as needed */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
  .lr{
    background-color: rgba(255, 42, 0, 0.335);
  }
  .ly{
    background-color: rgba(255, 255, 0, 0.445);
  }
  .lg{
    background-color: rgba(34, 255, 0, 0.583);
  }
  .light {
    width: 60px; /* Change the size as needed */
    height: 60px; /* Change the size as needed */
    border-radius: 50%;
    margin: 0 30px; /* Adjust spacing between lights */
    /* transition: background-color 0.5s ease;  */
  }
  
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  } 
  .green {
    background-color: rgba(0, 255, 0, 0.913);
  }
  .lightbg{
    background-color: rgb(149, 230, 179);
    padding: 30px;
  }
  .time{
color: red;
font-size: xx-large;
background-color: #c7c7c7;
padding: 5px;
border-radius: 5px;
  }
  