@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Jost:wght@300;400;500;700;900&family=Urbanist:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    scroll-behavior: smooth;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.my-content{
    background: rgb(255, 255, 255);
    margin: 0 8%;
    padding: 1% 5% 0;
}

body {
    background-color: #efeeeec9;
    /* min-width: 380px; */
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --main-color:#0062ff;
    --supporting-color:#ebf3fe;
    --font-color:#424242;
    --bg-color:#f7fcff;
    --heading-color:#000a19;
    --hero-heading-color:#003b99;
    --white-color:#ffffff;
    --para-color:#504e4d;
    --bnt-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color:#040d12;
}

h1,h2,h3,
h4,h5,h6{
    font-family: "Poppins", sans-serif;
}

p, li, a{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
    text-align: justify;

}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--white-color);
    border-radius: 0.9rem;
}

.btn:hover{
    background-color: red;
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}
.main{
    position: relative;
    background-image: linear-gradient(
        to top right,
        #3d86fa,
        #4484fb,
        #679eff,
        #b3d2ff,
        #ebf3fe
    );
}

.container{
    max-width: 100%;
    margin:0 auto ;
    padding: 9.6rem 2.4rem;
}

.grid{
    display: grid;
}

.grid-two--cols{
    grid-template-columns:repeat(2, 1fr);
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
}


ul{
    list-style-type: none;
}

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px 1px;
    position: sticky; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    background-color: var(--white-color); 
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5.4rem;
    padding-bottom: 2px;
}
.navbar-brand a{
    line-height: 0;
}
.section-navbar .container ul{
    display: flex;
    gap: 3.2rem;

    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

    &::after{
        content:"" ;
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.2rem solid #10b251;
        transition: all 0.3s linear;
    }
}
& li a:hover:after{
    width: 100%;
}
}

& li a:hover:after{
    width: 100%;
}

.section-navbar .container .navbar-brand img{
    max-width: 85px;
    max-height: 55px;
    height: 35px;
}


.section-hero--img img{
    width: 50%;
    height: auto;
    /* transform: scaleX(-1); */
    /* border-radius: 50%; */
    /* filter: blur(0.1rem); */
}

.section-hero .grid{
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .hero-heading{
        font-size: 5.8rem;
        line-height: 1.5;
        font-family: "Jost", sans-serif;
        color: var(--hero-heading-color);
    }

    & .hero-para{
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
        
    }
}

.custom-shape-divider-bottom-1701139561 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701139561 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1701139561 .shape-fill {
    fill: #FFFFFF;
}


.section-common-heading{
    font-size: 3.2rem;
}

.section-common-subheading{
    color: var(--heading-color);
}

.section-common--tittle{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.grid-three--cols{
    grid-template-columns: repeat(3, 1fr);
}

.section-about .grid{
    gap: 6.4rem;
}

.section-about .about-div{
    text-align: center;
}

.section-about img{
    padding: 2.4rem;
    /* background-color: var(--supporting-color); */
    width: 20rem;
    height: auto;
    /* border-radius: 40%; */
    transition: all 0.3s linear;
}

.icon:hover > img {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}

.section-course{
    background-color: var(--bg-color);
}

.section-course .grid{
    gap: 3.2rem;
}

.section-course .course-div{
    padding: 3.2rem;
}

.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid{
    color: #68bf9b;
}

.course-div:nth-child(3) .icon .fa-solid{
    color: #68bf9b;
}

.course-div:nth-child(4) .icon .fa-solid{
    color: #68bf9b;
}

.course-div:nth-child(5) .icon .fa-solid{
    color: #68bf9b;
}

.course-div:nth-child(1) .icon .fa-solid{
    color: #68bf9b;
}

.fa-solid{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: var(--hero-heading-color);
}

.section-why--choose .grid{
    gap: 9.6rem;
}

.why-choose--div{
    margin-top: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.common-text--highlight{
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
}

.choose-center--div img{
    width: 90%;
    height: auto;
}

.choose-center--div, figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    z-index: -1;
}

.choose-center--div figure::before{
    animation: circle 5s linear infinite;
}

@keyframes circle{

    0%{
        background-color: #b3d0ff;
    }

    25%{
        background-color: #80b1ff;
    }

    50%{
        background-color: #4d91ff;
    }

    75%{
        background-color: #99c0ff;
    }

    100%{
        background-color: #3381ff;
    }
}

.choose-center--div figure::after{
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    z-index: -2;
    border: 0.5rem solid var(--supporting-color);
}

.section-contact--homepage{
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: var(--btn-box-shadow);

    border-radius: 0.2rem;
    padding: 0 3.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: var(--white-color);


    & .grid{
        align-items: center;
        gap: 6.4rem;
    }
}

.contact-tittle{
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p{
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage .btn{
    background-color:var(--main-color);
    transition: all 0.3s linear;

    &:hover{
        background-color: var(--bnt-hover-bg-color);
    }
}

.section-contact--homepage a{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.section-contact--homepage .fa-solid{
    padding: 2rem;
    color: var(--white-color);
    background-color: var(--main-color);
}

.section-contact--homepage img{
    width: 90%;
    height: auto;
}

footer{
    background-color: var(--footer-bg-color);
    padding-top: 15rem;
}

footer .grid{
    text-align: right;
}

.footer-subheading{
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p{
    margin: 1rem 0 3.2rem 0;
}

.footer-1--div{
    text-align: left;

    & .social-footer--icons{
        display: flex;
        gap: 2.4rem;

        & .fa-brands{
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: var(--main-color);
            transition: all 0.3s linear;

            &:hover{
                background-color: var(--bnt-hover-bg-color);
                color: red;
                rotate: 360deg;
            }
        }
    }
}

footer *{
    color: var(--white-color);
}

.section-navbar img{
    border-radius: 50%;
    
}

.img_11 img{
    height: auto;
    width: 100%;

}
