.content {
    margin: 1%;
    padding: 1%;
    border: 1px solid rgba(226, 15, 15, 0.833);
    background: rgb(156 163 175);
    border-radius: 6px;
}

.roadimg img {
    height: 150px;
}

.vehiclesPerHrchart,
.vehiclesinfo {
    margin: 1%;
    background-color: azure;
    height: 300px;
}

.Per-hour-Charts h1 {
    font-weight: lighter;
    color: #0b2849ab !important;
}

.dashcontainer {
    background-color: #809f8d63;
    margin-top: 1%;
    border: 1px solid rgba(188, 188, 188, 0.833);
}

.Per-hour-Charts {
    display: flex;
}

.vehicle-info {
    width: 100%;
    text-align: center;
}

.holdcontainer {
    background-color: #0a597b;
    margin: 1%;
    padding: 2% 4%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #919191;
}

.holdcontainer p,
.holdcontainer span {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.total-vehicles {
    text-align: center;
    width: 100%;
}

.total-vehicles h1,
.holdcontainer h1 {
    font-size: xxx-large;
    color: whitesmoke;
}

.veh {
    display: flex;
    background-color: #00365273;
    justify-content: space-between;
}

.dashcontainer .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.everyside p,
.everyside span {
    font-size: small;
    font-weight: 200;
    text-decoration: underline;
    text-align: justify;
}

.vehicle-info h1 {
    font-size: x-large;
}



@media only screen and (max-width: 768px) {
     .content {
        padding: 0.5%;
    }

    .vehiclesPerHrchart,
    .vehiclesinfo {
        margin: 1%;
        width: 100%;
        height: auto;
    }

    .vehicle-info {
        width: 100%;
    }

    .Per-hour-Charts {
        flex-direction: column;
    }

    .dashcontainer .flex {
        flex-direction: column;
    }

    .total-vehicles h1,
    .holdcontainer h1 {
        font-size: large;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 0.5%;
    }

    .vehiclesPerHrchart,
    .vehiclesinfo {
        margin: 1%;
        width: 100%;
        height: auto;
    }

    .vehicle-info {
        width: 100%;
    }

    .Per-hour-Charts {
        flex-direction: column;
    }

    .dashcontainer .flex {
        flex-direction: column;
    }

    .total-vehicles h1,
    .holdcontainer h1 {
        font-size: large;
    }
}
