.center-container input[type="text"]{
    margin: auto;
}


.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(22, 13, 1, 0.541);
    width: 350px;
    margin: 20px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00796b;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #00796b;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #b2dfdb;
    border-radius: 6px;
    background-color: #e0f2f1;
    color: #004d40;
}

.phone-group {
    display: flex;
}


.phone-group input[type="text"] {
    width: 25%;
    margin-right: 5px;
}

.phone-group input[type="tel"] {
    width: 75%;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #00796b;
    background-color: #b2dfdb;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    display: none;
}
